<h1><%= @place.name %></h1>

<%= link_to "Add Entry", new_place_entry_path(@place), class: "btn btn-primary mb-3" %>

<div class="row">
  <% @place.entries.where(user: current_user).each do |entry| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <% if entry.image.attached? %>
          <%= image_tag entry.image, class: "card-img-top", style: "max-height: 200px; object-fit: cover;" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= entry.title %></h5>
          <p class="card-text"><%= entry.occurred_on %></p>
          <%= link_to "View", place_entry_path(@place, entry), class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>