<!DOCTYPE html>
<html>
<head>
  <title>Travel Journal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js", defer: true %>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Travel Journal</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <% if session[:user_id] %>
          <li class="nav-item">
            <span class="nav-link">Welcome, <%= User.find(session[:user_id]).username %>!</span>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-link nav-link", form: { data: { turbo: false } } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Signup", signup_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container mt-4">
    <%= yield %>
  </div>

</body>
</html>
